<div class="row">
  <div class="col-md-6">
    <div class="user-info-list panel panel-default">
      <div class="panel-heading panel-heading-divider">{{currentAccount.name}} Account</div>
      <div class="panel-body">
        <table class="no-border no-strip skills">
          <tbody class="no-border-x no-border-y">
          <tr>
            <td class="icon"><span class="icon s7-portfolio"></span></td>
            <td class="item">Ocupation</td>
            <td><a href="#">Designer</a></td>
          </tr>
          <tr>
            <td class="icon"><span class="icon s7-gift"></span></td>
            <td class="item">Birthday</td>
            <td><a href="#">16 September 1989</a></td>
          </tr>
          <tr>
            <td class="icon"><span class="icon s7-phone"></span></td>
            <td class="item">Mobile</td>
            <td><a href="#">(999) 999-9999</a></td>
          </tr>
          <tr>
            <td class="icon"><span class="icon s7-global"></span></td>
            <td class="item">Website</td>
            <td><a href="#">www.website.com</a></td>
          </tr>
          <tr>
            <td class="icon"><span class="icon s7-map-marker"></span></td>
            <td class="item">Location</td>
            <td><a href="#">Montreal, Canada</a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-heading panel-heading-divider">Elsewhere</div>
      <div class="panel-body">
        <table class="no-border no-strip social">
          <tbody class="no-border-x no-border-y">
          <tr>
            <td class="icon"><span class="fa fa-facebook"></span></td>
            <td class="item"><a href="#">Facebook</a></td>
          </tr>
          <tr>
            <td class="icon"><span class="fa fa-twitter"></span></td>
            <td class="item"><a href="#">Twitter</a></td>
          </tr>
          <tr>
            <td class="icon"><span class="fa fa-dribbble"></span></td>
            <td class="item"><a href="#">Dribble</a></td>
          </tr>
          <tr>
            <td class="icon"><span class="fa fa-github"></span></td>
            <td class="item"><a href="#">Github</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="widget widget-fullwidth todo-list">
      <div class="widget-head"><span class="title">Shop List</span></div>
      <div class="todo-list-container">
        <ul class="todo-tasks">
          <li class="todo-task">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input"><span class="custom-control-indicator"></span><span
              class="custom-control-description">Pellentesque habitant morbi tristique senectus et netus et.</span>
            </label><a href="#" class="close"><span class="icon s7-close"></span></a>
          </li>
          <li class="todo-task">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input"><span class="custom-control-indicator"></span><span
              class="custom-control-description">Sed id interdum nunc. Ut sodales dolor non ultricies mattis. </span>
            </label><a href="#" class="close"><span class="icon s7-close"></span></a>
          </li>
          <li class="todo-task">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input"><span class="custom-control-indicator"></span><span
              class="custom-control-description">Pellentesque habitant morbi tristique senectus et netus et.</span>
            </label><a href="#" class="close"><span class="icon s7-close"></span></a>
          </li>
          <li class="todo-task">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input"><span class="custom-control-indicator"></span><span
              class="custom-control-description">Sed id interdum nunc. Ut sodales dolor non ultricies mattis. </span>
            </label><a href="#" class="close"><span class="icon s7-close"></span></a>
          </li>
          <li class="todo-task">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input"><span class="custom-control-indicator"></span><span
              class="custom-control-description">Sed id interdum nunc. Ut sodales dolor non ultricies mattis. </span>
            </label><a href="#" class="close"><span class="icon s7-close"></span></a>
          </li>
          <li class="todo-task">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input"><span class="custom-control-indicator"></span><span
              class="custom-control-description">Pellentesque habitant morbi tristique senectus et netus et.</span>
            </label><a href="#" class="close"><span class="icon s7-close"></span></a>
          </li>
        </ul>
      </div>
      <div class="todo-new-task">
        <div class="input-group">
          <input type="text" placeholder="Add a new task..." class="form-control"><span class="input-group-addon"><i
          class="icon s7-plus"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
